<div id="search" class="header-search">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="input" />
  <button class="search-btn"><i class="fa fa-search"></i></button>
</div>